<!doctype html>
<html lang="en">
   <head>
      <title>reddit: the front page of the internet</title>
      <meta name="keywords" content=" reddit, reddit.com, vote, comment, submit " />
      <meta name="description" content="reddit: the front page of the internet" />
      <meta name="referrer" content="always">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link type="application/opensearchdescription+xml" rel="search" href="/static/opensearch.xml"/>
      <link rel="canonical" href="https://www.reddit.com/" />
      <meta name="viewport" content="width=1024">
      <link rel="dns-prefetch" href="//out.reddit.com">
      <link rel="preconnect" href="//out.reddit.com">
      <link rel='icon' href="//www.redditstatic.com/icon.png" sizes="256x256" type="image/png" />
      <link rel='shortcut icon' href="//www.redditstatic.com/favicon.ico" type="image/x-icon" />
      <link rel='apple-touch-icon-precomposed' href="//www.redditstatic.com/icon-touch.png" />
      <link rel="alternate" type="application/atom+xml" title="RSS" href="https://www.reddit.com/.rss" />
      <link rel="stylesheet" type="text/css" href="//www.redditstatic.com/reddit.mn8iPmPMG0c.css" media="all">
      <link rel="stylesheet" type="text/css" href="//www.redditstatic.com/expando.HAQPFyXYvTs.css" media="all">
      <link rel="stylesheet" type="text/css" href="//www.redditstatic.com/listing-comments.AZZO7Kj_O88.css" media="all">
      <link rel="stylesheet" type="text/css" href="//www.redditstatic.com/popup-notification.6-JvPBpHWMo.css" media="all">
      <link rel="stylesheet" type="text/css" href="//www.redditstatic.com/videoplayercontrols.xs_Z6eMjJyc.css" media="all">
      <!--[if gte IE 8]><!--><!--<![endif]--><!--[if gte IE 9]><!--><script type="text/javascript" src="//www.redditstatic.com/reddit-init.en.CswTCFJe9Ww.js"></script><!--<![endif]--><!--[if lt IE 9]><script type="text/javascript" src="//www.redditstatic.com/reddit-init-legacy.en.OO5AsTZOwDg.js"></script><![endif]--><script type="text/javascript" src="//www.redditstatic.com/recommended-link.lfHS1Jq3eYw.js"></script><script type="text/javascript" src="//www.redditstatic.com/webcomponents.xriNycXog0M.js"></script><!-- The custom element adapter is for browsers that support es6 AND native web components only. It cannot be transpiled to es5, as such, it is not parsed by UglifyJS. --><script src="//www.redditstatic.com/js/lib/custom-elements-es5-adapter.js"></script><script type="text/javascript" src="//www.redditstatic.com/dash.1zw-57_qGJs.js"></script>
      <link rel="import" href="//www.redditstatic.com/videoplayer/redditvideoplayer.html" />
      <link rel="import" href="//www.redditstatic.com/videoplayer/redditvideocontroller.html" />
      <link rel="import" href="//www.redditstatic.com/videoplayer/redditvideosource.html" />
      <link rel="import" href="//www.redditstatic.com/videoplayer/redditvideoseekbar.html" />
      <link rel="import" href="//www.redditstatic.com/videoplayer/redditvideovolumeslider.html" />
      <link rel="import" href="//www.redditstatic.com/videoplayer/redditvideosettingsmenu.html" />
      <script type="text/javascript" id="config">r.setup({"user_websocket_url": null, "feature_preview_comments_in_expandos": null, "ajax_domain": "www.reddit.com", "is_fake": true, "server_time": 1498513352.0, "post_site": "", "clicktracker_url": "//pixel.redditmedia.com/click", "pref_no_profanity": true, "renderstyle": "html", "requires_eu_cookie_policy": false, "nsfw_media_acknowledged": false, "stats_domain": "https://stats.redditmedia.com", "pref_email_messages": false, "cur_screen_name": "", "cur_domain": "reddit.com", "feature_new_report_dialog": true, "events_collector_url": "https://e.reddit.com/v1", "feature_expando_events": true, "facebook_app_id": "322647334569188", "is_sponsor": false, "https_forced": true, "user_in_timeout": false, "eu_cookie_max_attempts": 3, "user_id": false, "eventtracker_url": "//pixel.redditmedia.com/pixel/of_delight.png", "ad_serving_events_sample_rate": 1.0, "feature_new_report_flow": false, "poisoning_canary": null, "logged": false, "feature_outbound_beacons": false, "advertiser_category": null, "ads_loading_timeout_ms": 5000, "user_age": false, "vote_hash": "w0IJBwzgLGLmU0Q5ZZfkEnXQ+b5oMEmPC3LUfBTVjHHKsRdHLlWRdttQcglpx8kco4K8RTH2XH4zsEffIjOa2N/bA1pDJq7XK9rJNHcU+fksg7a8yh1JywRAf00FVoIT869F7Z7Jvez1BWE2t4eBpOeuvjV7FCkalGVC+cI3soc=", "poisoning_report_mac": null, "feature_ads_user_matching": false, "events_collector_secret": "thiiM0ahsieSiech1phithe6chahngoo8sah6aid\n", "adtracker_url": "//pixel.redditmedia.com/pixel/of_doom.png", "events_collector_key": "RedditFrontend1", "live_orangereds_pref": true, "feature_post_embed": true, "feature_mobile_native_banner": true, "uitracker_url": "//pixel.redditmedia.com/pixel/of_discovery.png", "cache_policy": "loggedout_www", "share_tracking_ts": 1498513352703, "modhash": "", "feature_flatlist_events": false, "store_visits": false, "anon_eventtracker_url": "//pixel.redditmedia.com/pixel/of_diversity.png", "media_domain": "www.redditmedia.com", "over_18": false, "share_tracking_hmac": null, "feature_double_sidebar": false, "feature_lazy_load_listings": false, "send_logs": true, "gold": false, "user_subscription_size": 0, "listing_over_18": false, "pageInfo": {"actionName": "hot.GET_listing", "statsVerification": "adfad553bf3b6c42e703170c536073e9c1f952f0", "verification": "adfad553bf3b6c42e703170c536073e9c1f952f0", "statsName": "hot.GET_listing"}, "mweb_blacklist_expressions": ["^/prefs/?", "^/live/?", "/message/compose", "/m/", "^/subreddits/create", "^/gold", "^/advertising", "^/promoted", "^/buttons"], "ads_status": "all_ads", "https_endpoint": "https://www.reddit.com", "static_root": "//www.redditstatic.com", "extension": null, "feature_screenview_events": true, "cur_listing": "frontpage", "email_verified": false, "status_msg": {"fetching": "fetching title...", "loading": "loading...", "submitting": "submitting..."}, "cur_site": "", "enabled_experiments": {"comments_in_hybrid_listings_expandos": null, "comments_in_listings_expandos": null}, "stats_sample_rate": "5", "new_window": false, "event_target": {"geo_filter": null, "target_type": "listing", "target_sort": "hot"}, "tracker_url": "//pixel.redditmedia.com/pixel/of_destiny.png?v=4tq5FqbkNZwFihdE%2BcCoFbqe1fbm7jR9rxbWAu0KqstcNC0FxFsHNI34OpzT6tbSpCVyuKd%2F8Fk%3D", "eu_cookie": "eu_cookie", "expando_preference": "subreddit_default", "debug": false, "has_subscribed": false, "feature_scroll_events": true, "pref_beta": false})</script>
      <style type="text/css">/* Custom css: use this block to insert special translation-dependent css in the page header */</style>
      <script type="text/javascript">if (!window.DO_NOT_TRACK) { window.user_type = 'guest'; window.is_gold_page = 'False'.toLowerCase() === 'true'; }</script><script type="text/javascript">if (!window.DO_NOT_TRACK) { var _gaq = _gaq || []; _gaq.push( ['_require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js'], ['_setAccount', 'UA-12131688-1'], ['_setDomainName', 'reddit.com'], ['_setCustomVar', 1, 'site', 'frontpage', 3], ['_setCustomVar', 2, 'srpath', 'frontpage-GET_listing', 3], ['_setCustomVar', 3, 'usertype', user_type, 2], ['_setCustomVar', 4, 'uitype', 'web', 3], ['_setCustomVar', 5, 'style_override', '', 2], ['_setSampleRate', '1'], ['_trackPageview'] ); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); }</script><script type="text/javascript">if (!window.DO_NOT_TRACK) { (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','_ga'); window._ga('create', 'UA-12131688-9', { 'name': 'goldTracker', 'cookieDomain': 'reddit.com', '1': 'frontpage', '2': 'frontpage-GET_listing', '3': window.user_type, '4': 'web', 'sampleRate': 100 }); if (window.is_gold_page) { window._ga('goldTracker.send', 'pageview'); } }</script>
   </head>
   <body class="listing-page hot-page" >
      <div class="GoogleAd HomeAds InArticleAd LeftAd SidebarAd ad-300-250 ad-banner adbar adbox1 ads-area adsense-ad box_ad googad" id="adblock-test"></div>
      <script>if (!window.DO_NOT_TRACK) { var frame = document.createElement('iframe'); frame.style.display = 'none'; frame.referrer = 'no-referrer'; frame.id = 'gtm-jail'; frame.name = JSON.stringify({ subreddit: r.config.post_site, origin: location.origin, url: location.href, userMatching: r.config.feature_ads_user_matching, userId: r.config.user_id, advertiserCategory: r.config.advertiser_category, }); frame.src = '//' + "www.redditmedia.com" + '/gtm/jail?cb=' + "8CqR7FcToPI"; document.body.appendChild(frame); }</script><script>if (!window.DO_NOT_TRACK) { var mf = document.createElement('script'); mf.type = 'text/javascript'; mf.async = true; mf.src = "//www.redditstatic.com/moat/moatframe.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mf, s); }</script>
      <div id="header" role="banner">
         <a tabindex="1" href="#content" id="jumpToContent">jump to content</a>
         <div id="header-bottom-left">
            <a href="/" id="header-img" class="default-header" title="">reddit.com</a>&nbsp;
          </div>
         <div id="header-bottom-right">
            <span class="user"><a href="<%= new_session_url %>" class="login-required" >Log in</a></span><span class="separator">|</span>
            <span class="user">Want to join?&#32;<a href="<%= new_user_url %>" class="login-required" >Sign up</a>&#32;in seconds.</span><span class="separator"></span>
         </div>
      </div>
      <a name="content"></a>
      <div class="content" role="main">
         <section hidden class="infobar newsletterbar newsletter-container">
            <header>
               <h1 class="subscribe-callout"><a href="/newsletter"><img src="//www.redditstatic.com/subscribe-header.svg" alt="subscribe to our newsletter"></a></h1>
               <div class="subscribe-thanks"><img src="//www.redditstatic.com/subscribe-header-thanks.svg" alt="_('thanks for subscribing')" /></div>
               <h2 class="result-message">get the best of reddit, delivered once a week</h2>
            </header>
            <form class="newsletter-signup form-v2 c-form-inline" method="post" action="https://www.reddit.com/api/newsletter.json">
               <input type="hidden" name="uh" value="" /><input type="hidden" name="source" value="newsletterbar">
               <div class="c-form-group ">
                  <label for="email" class="screenreader-only">email:</label><input value="" name="email" class="c-form-control" type="email" placeholder="enter your email" data-validate-url="/api/check_email.json" data-validate-on="change blur">
                  <div class="c-form-control-feedback-wrapper inside-input"><span class="c-form-control-feedback c-form-control-feedback-throbber"></span><span class="c-form-control-feedback c-form-control-feedback-error" title=""></span><span class="c-form-control-feedback c-form-control-feedback-success"></span></div>
               </div>
               <button type="submit" class="c-btn c-btn-highlight">subscribe</button><br/>
               <div class="c-form-group ">
                  <div class="g-recaptcha" data-sitekey="6LeTnxkTAAAAAN9QEuDZRpn90WwKk_R1TRW_g-JC"></div>
                  <div class="c-form-control-feedback-wrapper inside-input"><span class="c-form-control-feedback c-form-control-feedback-throbber"></span><span class="c-form-control-feedback c-form-control-feedback-error" title=""></span><span class="c-form-control-feedback c-form-control-feedback-success"></span></div>
               </div>
            </form>
            <a href="#" class="newsletter-close" title="close">&times;</a>
         </section>
         <div class='spacer'>
            <div id="siteTable_organic" class="organic-listing loading" ></div>
            <script>r.spotlight.setup( [], 0.0, true, 1, " reddit.com", "t3_6jmo02,t3_6jmfkz,t3_6jlzq9,t3_6jm2l1,t3_6jm6gh,t3_6jlw31,t3_6jly8l,t3_6jlw80,t3_6jlcum,t3_6jlgnq" )</script>
         </div>
         <div class='spacer'>
            <style>body >.content .link .rank, .rank-spacer { width: 2.2ex } body >.content .link .midcol, .midcol-spacer { width: 6.1ex } .adsense-wrap { background-color: #eff7ff; font-size: 18px; padding-left: 8.3ex; padding-right: 5px; }</style>
          <div id="siteTable" class="sitetable linklisting">
            <% @subs.each do |sub| %>
              <div class=" thing id-t3_6jmo02 odd&#32; gilded link " id="thing_t3_6jmo02" onclick="click_thing(this)" data-fullname="t3_6jmo02" data-type="link" data-author="vlone17" data-author-fullname="t2_gvrmc" data-subreddit="funny" data-subreddit-fullname="t5_2qh33" data-timestamp="1498499035000" data-url="https://i.redd.it/hbjcjeug116z.jpg" data-domain="i.redd.it" data-rank="1" data-comments-count="773" data-score="52526" data-context="listing" >
              <p class="parent"></p>
              <span class="rank">1</span>
              <a class="thumbnail invisible-when-pinned may-blank " data-event-action="thumbnail" href="/r/funny/comments/6jmo02/thank_you_reddit_for_making_my_dads_day/" data-href-url="/r/funny/comments/6jmo02/thank_you_reddit_for_making_my_dads_day/" data-inbound-url="/r/funny/comments/6jmo02/thank_you_reddit_for_making_my_dads_day/?utm_content=thumbnail&amp;utm_medium=hot&amp;utm_source=reddit&amp;utm_name=frontpage" rel="" ><img src="//b.thumbs.redditmedia.com/T03XHarvG9YEQNvk_h3HeHzLgaLtorNz6pzeWTIuSYw.jpg" width='70' height='70' alt=""></a>
              <div class="entry unvoted">
                <div class="top-matter">
                  <p class="title">
                    <%= link_to sub.title, sub_url(sub) %>
                  &#32;
                  <div class="reportform report-t3_6jmo02"></div>
                </div>
                <div class="expando expando-uninitialized" style='display: none' data-cachedhtml=" &lt;div class=&quot;media-preview&quot; id=&quot;media-preview-6jmo02&quot; style=&quot;max-width: 576px&quot;&gt; &lt;div class=&quot;media-preview-content&quot;&gt; &lt;a href=&quot;https://i.redd.it/hbjcjeug116z.jpg&quot; class=&quot;may-blank&quot;&gt; &lt;img class=&quot;preview&quot; src=&quot;https://i.redditmedia.com/MV7J4yI2yJ454oO5K4LoQR3XT-9O87r-JGS8IX58nCA.jpg?w=576&amp;amp;s=5cfbf3437f27a13c4f43b84283563b37&quot; width=&quot;576&quot; height=&quot;768&quot;&gt; &lt;/a&gt; &lt;/div&gt; &lt;/div&gt; " data-pin-condition="function() {return this.style.display != 'none';}" ><span class="error">loading...</span></div>
              </div>
              <div class="child" ></div>
              <div class="clearleft"></div>
            </div>
            <% end %>
          </div>
         <script id="archived-popup" type="text/template"><div class="interstitial"><img class="interstitial-image" src="//www.redditstatic.com/interstitial-image-archived.png" alt="archived" height="150" width="150"><div class="interstitial-message md-container"><div class="md"><h3>This is an archived post. You won't be able to vote or comment.</h3><p>Posts&#32;are&#32;automatically&#32;archived&#32;after&#32;6&#32;months.</p></div></div><div class="buttons"><a href="/" class="c-btn c-btn-primary">Got It</a></div></div></script>
      </div>
      <div class="footer-parent">
        <p class="bottommenu">App Academy (C) 2017. All rights reserved.</p>
      </div>
      <script>var BETA_HOST = 'beta.reddit.com'; if (location.host === BETA_HOST) { r.config.https_endpoint = 'https://' + BETA_HOST; }</script><script id="login-popup" type="text/template"><h3 id="cover-msg" class="modal-title">You need to login to do that.</h3><div id="login"><div class="split-panel">
        <div class="split-panel-section split-panel-divider"><h4 class="modal-title">create a new account</h4><form id="register-form" method="post" action="<%= users_url %>" class="form-v2"><input type="hidden" name="op" value="reg"><div class="c-form-group "><label for="user_reg" class="screenreader-only">username:</label>
          <input value="" name="user" id="user_reg" class="c-form-control" type="text" maxlength="20" tabindex="2" placeholder="choose a username" data-validate-url="/api/check_username.json" data-validate-min="3" autocomplete="off" >
          <div class="c-form-control-feedback-wrapper "><span class="c-form-control-feedback c-form-control-feedback-throbber"></span><span class="c-form-control-feedback c-form-control-feedback-error" title=""></span><span class="c-form-control-feedback c-form-control-feedback-success"></span></div></div><div class="c-form-group "><label for="passwd_reg" class="screenreader-only">password:</label>
            <input id="passwd_reg" class="c-form-control" name="passwd" type="password" tabindex="2" placeholder="password" data-validate-url='/api/check_password.json'><div class="c-form-control-feedback-wrapper "><span class="c-form-control-feedback c-form-control-feedback-throbber"></span><span class="c-form-control-feedback c-form-control-feedback-error" title=""></span><span class="c-form-control-feedback c-form-control-feedback-success"></span></div></div>
            <div class="c-form-group "><label for="passwd2_reg" class="screenreader-only">verify password:</label><input name="passwd2" id="passwd2_reg" class="c-form-control" type="password" tabindex="2" placeholder="verify password"><div class="c-form-control-feedback-wrapper "><span class="c-form-control-feedback c-form-control-feedback-throbber"></span><span class="c-form-control-feedback c-form-control-feedback-error" title=""></span>
              <span class="c-form-control-feedback c-form-control-feedback-success"></span></div></div><div class="c-form-group "><label for="email_reg" class="screenreader-only">email: &nbsp;<i>(optional)</i></label><input value="" name="email" id="email_reg" class="c-form-control" type="text" tabindex="2" placeholder="email" data-validate-url="/api/check_email.json" data-validate-on="change blur"><div class="c-form-control-feedback-wrapper "><span class="c-form-control-feedback c-form-control-feedback-throbber"></span><span class="c-form-control-feedback c-form-control-feedback-error" title=""></span><span class="c-form-control-feedback c-form-control-feedback-success"></span></div></div><div class="c-checkbox"><input type="checkbox" name="rem" id="rem_reg" tabindex="2"><label for="rem_reg">remember me</label></div><input type="hidden" name="digest_subscribe" id="digest_subscribe" value="true"><div class="spacer"><div class="c-form-group g-recaptcha" data-sitekey="6LeTnxkTAAAAAN9QEuDZRpn90WwKk_R1TRW_g-JC"></div><span class="error BAD_CAPTCHA field-captcha" style="display:none"></span></div><div class="c-clearfix c-submit-group"><span class="c-form-throbber"></span><button type="submit" class="c-btn c-btn-primary c-pull-right" tabindex="2">sign up</button></div><div><div class="c-alert c-alert-danger"></div><span class="error RATELIMIT field-ratelimit" style="display:none"></span><span class="error RATELIMIT field-vdelay" style="display:none"></span></div></form></div><div class="split-panel-section" id="login-panel"><h4 class="modal-title">log in</h4>
                <form id="login-form" method="post" action="<%= session_url %>" class="form-v2">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="op" value="login">
                  <div class="c-form-group ">
                  <label for="user_login" class="screenreader-only">username:</label>
                  <input value="" name="user[username]" id="user_login" class="c-form-control" type="text" maxlength="20" tabindex="3" placeholder="username" >
                </div>
                <div class="c-form-group ">
                    <label for="passwd_login" class="screenreader-only">password:</label>
                    <input id="passwd_login" class="c-form-control" name="user[password]" type="password" tabindex="3" placeholder="password" ><div class="c-form-control-feedback-wrapper ">
                      <span class="c-form-control-feedback c-form-control-feedback-throbber"></span>
                      <span class="c-form-control-feedback c-form-control-feedback-error" title=""></span>
                      <span class="c-form-control-feedback c-form-control-feedback-success"></span>
                    </div></div>
                    <button type="submit" class="c-btn c-btn-primary c-pull-right" tabindex="3">log in</button>
                  </div>
                  </form>
                </div></div><p class="login-disclaimer">By signing up, you agree to our&#32;<a href="https://www.reddit.com/help/useragreement/" >Terms</a>&#32;and that you have read our&#32;<a href="https://www.reddit.com/help/privacypolicy/" >Privacy Policy</a>&#32;and&#32;<a href="https://www.reddit.com/help/contentpolicy/" >Content Policy</a>.</p></div></script><script id="lang-popup" type="text/template"><form action="https://www.reddit.com/post/unlogged_options" method="post" class="pretty-form short-text"><input type="hidden" name="uh" value="" /><table class="content preftable"><tr><th>interface language</th><td class="prefright"><select id="lang" name="lang"><option selected='selected' value="en">English [en]</option><option value="af">Afrikaans [af] (*)</option><option value="ar">العربية [ar] (*)</option><option value="be">Беларуская мова [be] (*)</option><option value="bg">български език [bg]</option><option value="bn-IN">বাংলা [bn-IN] (*)</option><option value="bn-bd">বাংলা [bn-bd] (*)</option><option value="bs">Bosanski [bs] (*)</option><option value="ca">català [ca]</option><option value="cs">česky [cs]</option><option value="cy">Cymraeg [cy] (*)</option><option value="da">dansk [da]</option><option value="de">Deutsch [de]</option><option value="el">Ελληνικά [el]</option><option value="en-au">English (Australia) [en-au]</option><option value="en-ca">English (Canadian) [en-ca]</option><option value="en-gb">English (Great Britain) [en-gb]</option><option value="en-us">English [en-us]</option><option value="eo">Esperanto [eo] (*)</option><option value="es">español [es]</option><option value="es-ar">español [es-ar]</option><option value="es-cl">español [es-cl]</option><option value="es-mx">Español [es-mx]</option><option value="et">eesti keel [et] (*)</option><option value="eu">Euskara [eu]</option><option value="fa">فارسی [fa]</option><option value="fi">suomi [fi]</option><option value="fil">Filipino [fil] (*)</option><option value="fr">français [fr]</option><option value="fr-ca">Français [fr-ca]</option><option value="fy-NL">Frysk [fy-NL] (*)</option><option value="ga-ie">Gaeilge [ga-ie] (*)</option><option value="gd">Gàidhlig [gd]</option><option value="gl">Galego [gl] (*)</option><option value="he">עברית [he] (*)</option><option value="hi">मानक हिन्दी [hi] (*)</option><option value="hr">hrvatski [hr]</option><option value="hu">Magyar [hu]</option><option value="hy">Հայերեն լեզու [hy]</option><option value="id">Bahasa Indonesia [id] (*)</option><option value="is">íslenska [is]</option><option value="it">italiano (Italy) [it]</option><option value="ja">日本語 [ja]</option><option value="kn_IN">ಕನ್ನಡ [kn_IN]</option><option value="ko">한국어 [ko]</option><option value="la">Latin [la] (*)</option><option value="leet">1337 [leet]</option><option value="lol">LOL [lol]</option><option value="lt">lietuvių kalba [lt] (*)</option><option value="lv">latviešu valoda [lv]</option><option value="ms">Bahasa Melayu [ms] (*)</option><option value="mt-MT">Malti [mt-MT]</option><option value="nl">Nederlands [nl]</option><option value="nn">Nynorsk [nn]</option><option value="no">Norsk [no]</option><option value="pir">Arrrrrrrr! [pir] (*)</option><option value="pl">polski [pl]</option><option value="pt">português [pt] (*)</option><option value="pt-pt">português [pt-pt]</option><option value="pt_BR">português brasileiro [pt_BR]</option><option value="ro">română [ro]</option><option value="ru">русский [ru]</option><option value="sk">slovenčina [sk]</option><option value="sl">slovenščina [sl] (*)</option><option value="sr">српски језик [sr]</option><option value="sr-la">Srpski [sr-la]</option><option value="sv">Svenska [sv]</option><option value="ta">தமிழ் [ta]</option><option value="th">ภาษาไทย [th]</option><option value="tr">Türkçe [tr]</option><option value="uk">українська мова [uk]</option><option value="vi">Tiếng Việt [vi]</option><option value="zh">中文 [zh]</option><option value="zh-cn">简化字 [zh-cn]</option></select>&#32;<span class="details hover">(*) incomplete &#32;<a href="https://www.reddit.com/r/i18n/wiki/getting_started">volunteer to translate</a></span></td></tr><tr><td><input type="submit" class="btn" value="save options"/></td></tr></table></form></script><img id="hsts_pixel" src="//reddit.com/static/pixel.png">
      <p class="debuginfo"><span class="icon">&pi;</span>&nbsp;<span class="content">Rendered by localhost:3000 running b12590f country code: US.</span></p>
   </body>
</html>
